*{
    background-color:rgb(56, 130, 130);
    color:#350463;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:aqua;
    background-color: black;
    text-align: left;
}

#title{
    text-align: left;
}

.list {
    display:table;
    text-align:left;
    margin: 0 auto;
}



