*{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:rgb(97, 97, 97);

}

.backgroundimage{
    background-image: url(Images/programming_stockimage.jpeg)
}

/* navbar styling*/
.navbar{
    z-index:999;
    padding: 20px;
    overflow:hidden;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.892);
    top:0;
    width:100%;
}

.navbar a{
    text-decoration:none;
    font-style:italic;
}

/* navbar left corner logo */
.cazzyscorner {
    float:left;
    color:red;
    font-size:50px;
}

.cazzyscorner:hover{
    font-style:normal;
}


/* navbar right corner styling */
.navbar-right a{
    background-color:white;
    padding:1em;
    color:black;
    text-decoration:none;
    opacity:1;
    font-style:normal;
}

.navbar-right {
    float:right;
    padding:2em 3em;
}

.navbar-right a:hover{
    background:rgb(94, 94, 94)
}

/* sets content of webpage to begin below navbar */
.main{
    margin-top:9em;
}


/* side by side containers */
.flexcontainer{
    display:flex;
}

.flexcontent:first-child{
    margin-right:20px;
}
/* side by side containers */

.textbox{
    max-width:750px;
    background-color:rgba(255, 255, 255, 0.745);
    /* opacity:.7; */
    border-radius:25px;
    padding:1em;
}


.textbox h3{
    font-size:40px;
    color:rgb(217, 98, 117);
    margin:0;
}


#logo{
    float:left;
    color:red;
    font-size:40px;
    /* background-color: pink; */
    text-align: left;
}

h1 {
    width: fit-content;
    color:aqua;
    margin:auto
}

.inline_list{
    display: flex;
    margin: 2em;
}

li {
    margin: 2em;
}

.centerdiv img{
    margin:auto;
}

#title{
    text-align: left;
}

/* .list {
    display:table;
    text-align:left;
    margin: 0 auto;
} */



